<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- LoginFilter  -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.simplilearn.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/profile</url-pattern>
		<url-pattern>/dashboard</url-pattern>
	</filter-mapping>

	<!-- AccountProfile -->
	<servlet>
		<servlet-name>AccountProfile</servlet-name>
		<servlet-class>com.simplilearn.servlets.AccountProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountProfile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>


	<!-- AccountDashbord -->
	<servlet>
		<servlet-name>AccountDashbord</servlet-name>
		<servlet-class>com.simplilearn.servlets.AccountDashbord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountDashbord</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>

	<!-- InfoPage -->
	<servlet>
		<servlet-name>InfoPage</servlet-name>
		<servlet-class>com.simplilearn.servlets.InfoPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoPage</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>

</web-app>
